.menu {
  color: #000;
  background: #fff;
  padding: 2rem 1rem;
}

.menu_header {
  color: #000;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  font-size: 2rem;
}

.menu_item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.item_header img {
  height: 100px;
  width: 100px;
}

.item_header {
  padding: 5rem;
  text-align: center;
  border: 0.2rem solid #000;
}

.item_button {
  background: #c8a97e;
  border: none;
  width: 100px;
  height: 50px;
  transition: 0.2s ease-out;
}

.item_button:hover {
  background: black;
  color: #c8a97e;
  border: solid #c8a97e;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.special_heading {
  font-size: 2rem;
  color: #000;
  text-align: center;
  justify-content: center;
  margin: 1rem;
}

.special_menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.special_card {
  padding: 5rem;
  text-align: center;
  border: 0.2rem solid #000;
}

.special_card h3 p {
  color: #000;
}
.special_card img {
  height: 100px;
  width: 100px;
}

.special_button {
  background: #c8a97e;
  border: none;
  width: 100px;
  height: 50px;
  transition: 0.2s ease-out;
}

.special_button:hover {
  color: #c8a97e;
  background: black;
  border: solid #c8a97e;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.product-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #000;
  position: fixed;
  bottom: 13.5%;
  right: 8.5%;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #ccced7;
}

.button-click {
  position: fixed;
  bottom: 10%;
  right: 10%;
  color: #c8a97e;
  transition: 0.5s ease-out;
}

.button-click:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in;
}
