.container_blog-sec1 {
  background: url("../../assets/ali-inay-y3aP9oo9Pjc-unsplash.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec1_wrap {
  background-color: #fff;
  width: 600px;
  height: 85%;
  position: relative;
  left: 15%;
  padding: 0 2rem;
}

.form_input {
  display: flex;
  justify-content: space-between;
}

.form_input input {
  height: 50px;
  width: 230px;
  border: 1px solid #e5e5e5;
  padding-left: 1rem;
}

.sec1_wrap h1 {
  text-align: center;
  font-size: 3rem;
}

.sec1_button {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.sec1_button button {
  width: 210px;
  height: 50px;
  font-size: 1rem;
  background-color: #c8a97e;
  border: solid #c8a97e;
  transition: 0.2s ease;
}

.sec1_button button:hover {
  cursor: pointer;
  background-color: #000;
  border: solid #c8a97e;
  transition: 0.2s ease;
  color: #fff;
}

.sec2_posts {
  display: flex;
}

.post img {
  width: 300px;
  height: 300px;
}

.container_blog-sec2 {
  margin: 5rem 0;
  padding: 5rem 8rem;
  background-color: #fafafa;
}

.container_blog-sec2 h1 {
  text-align: center;
  font-size: 4rem;
}

.sec2_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  background-color: #fff;
  margin: 1rem;
}

.post_info {
  padding: 0 1rem;
}

.post_info p {
  font-size: 1.2rem;
  color: #ccced7;
}

.post_info h6 {
  font-size: 1.4rem;
  width: 180px;
}

.sec2_icon {
  display: flex;
  justify-content: space-between;
}

.sec2_icon p {
  color: #000;
  cursor: pointer;
}

.icon,
.icon p {
  color: #ccced7;
}

.icon {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1270px) {
  .container_blog-sec2 {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .post img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 800px) {
  .sec1_wrap {
    position: unset;
  }

  .container_blog-sec1 {
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .sec1_wrap h1 {
    font-size: 2rem;
  }

  .form_input input {
    width: 170px;
  }

  .sec1_wrap {
    width: 456px;
  }
}

@media screen and (max-width: 470px) {
  .form_input {
    flex-direction: column;
  }

  .form_input input {
    width: 100%;
  }

  .sec1_wrap {
    width: 100%;
  }

  .container_blog-sec1 {
    height: 150vh;
  }
}
