.component_navbar {
  display: flex;
  background: black;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.component_navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar_1:hover {
  color: gold;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.navbar_menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5rem;
  font-size: 25px;
}
.component_navbar h1 {
  margin: 20px;
  padding: 10px;
  font-size: 3rem;
  color: gold;
}
.component_navbar h3 {
  margin-right: 20px;
}

.component_navbar-signin {
  display: flex;
  align-items: center;
}

.navbar_button {
  width: 6rem;
  height: 3rem;
  border: none;
  border-radius: 2px;
  transition: 0.2s ease-in;
  background: gold;
  color: black;
}

.component-navbar_header span {
  color: black;
  text-shadow: 0 0 2px gold;
}

.navbar_button:hover {
  transition: 0.2s ease-out;
  cursor: pointer;
  background: black;
  color: gold;
  border: 2px solid gold;
}

.navbar_login {
  padding-right: 10px;
  font-size: 20px;
  transition: 0.1s ease-in;
}

.navbar_login:hover {
  color: gold;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.navbar_login:hover span {
  border-bottom: 3px solid gold;
}

.navbar_button-login {
  padding: 0 0.5rem;
}

.component_navbar-signin-links {
  display: none;
}

.navbar_menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: gold;
  color: black;
  padding: 2rem;
  position: absolute;
  top: 100px;
  right: 0;
  margin-top: 0.5rem;
  min-width: 210px;
  border-radius: 5px;
}

.navbar_menu-container {
  position: relative;
  display: none;
}

.component_navbar-menu {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar_menu {
    display: none;
  }

  .navbar_menu-container {
    display: flex;
    position: absolute;
  }

  .component_navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 620px) {
  .component_navbar-signin {
    display: none;
  }

  .component_navbar-signin-links {
    display: block;
  }

  .navbar_button {
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 2px;
    transition: 0.2s ease-in;
    background: black;
    color: gold;
  }
}

@media screen and (max-width: 320px) {
  .component_navbar h1 {
    font-size: 2rem;
  }
}
