.container_header-section {
  min-height: 100vh;
  background: radial-gradient(at center, rgb(68 68 68/ 35%), rgb(0 0 0 /100%)),
    url("../../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container_header {
  display: flex;
}

.container_header_title {
  text-align: center;
  width: 100%;
  color: #fff;
}

.container_header_title h1 {
  color: black;
  text-shadow: 0 0 2px #c8a97e;
  font-size: 6rem;
  padding: 0 50px;
}

.container_header_title p {
  font-size: 3rem;
  padding: 0 2rem;
}
.header_button {
  color: black;
  background: #c8a97e;
  border: solid #c8a97e;
  width: 150px;
  height: 80px;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

.header_button a {
  color: inherit;
  text-decoration: none;
}

.header_button:hover {
  border: solid #c8a97e;
  color: #c8a97e;
  background: black;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header_button {
    top: 90%;
  }
}

@media screen and (max-width: 600px) {
  .header_content h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 340px) {
  .header_content h1 {
    font-size: 3rem;
  }

  .header_button {
    top: 98%;
  }
}
